// fonts
$main-font: 'Montserrat', sans-serif;
$second-font: 'Open Sans', sans-serif;
$nav-font: 'Source Sans 3', sans-serif;
// colors
$white: #fff;
$blue: #2C4058;
$light-blue: #55B7FF;
$black:#000;